<h1>PTSA Members</h1>
<p><%= notice %></p>
<fieldset>
  <legend>PTSA Member List</legend>
  <p><%= link_to 'New PTSA Member', new_ptsa_member_path %></p>
  <%= render 'layouts/ptsa_member_list' %>
</fieldset>
