<h1>PTSA Board Members</h1>
<p><%= notice %></p>
<fieldset>
  <legend>PTSA Board Member List</legend>
  <p><%= link_to 'New PTSA Board Member', new_ptsa_member_path %></p>
  <%= render 'layouts/ptsa_member_list' %>
</fieldset>
