.dir-container {
  margin-bottom:20px;
  margin-top:20px;
}

.dir-container-header {
  border-bottom-width:3px;
  border-top-width:3px;
  border-style: double;
  padding-bottom:10px;
  padding-top:10px;
}

.dir-container-record {
  border-bottom-width:1px;
  border-style: solid;
}

.navigation {
  float: right;
}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

