<h1>PTSA Members</h1>
<fieldset>
  <legend>Parents</legend>
  <%= render 'layouts/parent_list' %>
</fieldset>

<fieldset>
  <legend>Students</legend>
  <%= render 'layouts/student_list' %>
</fieldset>

